<% include ../partials/header %>

    <section id="gallery" class="gallery">
        <h3>Gallery</h3>
        <div class="gallery-wrapper">
        <% products.forEach(function(painting) { %>
            <div class="gallery-item">
                <a href="/showpainting/<%= painting._id %>">
                    <img src="<%= painting.imagePath %>" alt="<%= painting.title %> painting">
                </a>
            </div>
        <% }) %>
        </div>
    </section>
 
 <% include ../partials/footer %>