<% include ../partials/header %>

    <section>
        <h3>Gallery</h3>
        <div class="gallery-wrapper">
        <% products.forEach(function(painting) { %>
            <div class="gallery-item">
                <img src="<%= painting.imagePath %>" alt="<%= painting.title %> painting">
            </div>
        <% }) %>
       
        </div>
    </section>
 
 <% include ../partials/footer %>