     <footer>
      <p><span>&copy</span> Richard Carr 2019 - All rights reserved</p>
      <p>picturesandpaintings.org.uk</p>
      <ul>
        <a href="#gallery">Gallery</a>
        <a href="#about">About</a>
        <a href="#contact">Contact P&P</a>
      </ul>
    </footer>
  </main>
  <script src="/javascripts/main.js"></script>
</body>
</html>