<% include ../partials/header %>

  <section class="register">
    <h3>Signup</h3>
    <form action="/user/signup" method="POST" novalidate>
      <label for="email">Email</label>
      <input id="email" type="email" name="email">
      <label for="password">Password</label>
      <input id="password" type="password" name="password">
      <!-- csrf protection -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Signup</button>
      <% if (hasErrors) { %>
        <% messages.forEach(message => { %>
          <p><%= message %></p>
        <% }) %>
      <% } %>
    </form>
  </section>

<% include ../partials/footer %>