<% include ../partials/header %>

  <section>
    <h3>Signup</h3>
    <form action="/user/signup" method="POST">
      <label for="email">Email</label>
      <input id="email" type="email" name="email">
      <label for="password">Password</label>
      <input id="password" type="password" name="password">
      <!-- csrf protection -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Signup</button>
    </form>
  </section>

<% include ../partials/footer %>