/*----------------------------------
          CSS VARIABLES
-----------------------------------*/
:root {

  /*----site colors------*/
  --main-text-color: #494949;
  --main-bg-color: #f5f3f3;
  --mobile-menu-color: #cfcece;
  --sec-bg-color: white;
  --main-border-color:  #b9b8b8;
  --overlay-color:  rgba(245, 243, 243, 0.5);
  --h1-color: white;
  --h2-color: #cfcece;

  /*----font sizes------*/
  --root-font-size: 14px;
  --h1-font-size: 2.1em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.2em;
  --p-font-size: 1em;
  --prdct-details-sm: 0.8em;
  --prdct-details-lg: 1em;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--root-font-size);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: 1;
  transition: 0.7s opacity;
}

/*--fade-in styles---*/

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background-color: white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

/*---end fade-in styles---*/

.fas {
  font-size: 1.3em;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 0.7s ease;
}

a:hover {
  cursor: pointer;
  color: #a00202;
  background-color: white;
}

li {
  list-style: none;
}

h1 {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
}

h2 {
  color: var(--h2-color);
  font-size: var(--h2-font-size);
}

h3 {
  color: var(--main-text-color);
  font-size: var(--h3-font-size);
  background-color: #ece8e8;
  padding: 0.5em;
}

p {
  line-height: 1.6em;
}

section,
footer {
  padding: 1em 0 2em 0;
}

label,
input {
  display: block;
  margin: 0.5em 0 0 0;
}

button {
  border-style: none;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
}

button:hover {
  cursor: pointer;
}

/*-------------------------------------------
                nav styles
-------------------------------------------*/

nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 3em;
  background-color: var(--main-bg-color);
}


.nav-items {
  display: flex;
  align-items: center;
  width: 80%;
}

.nav-items ul {
  display: none;
} 

.menu {
  display: flex;
  align-items: center;
  width: 10%;
  height: 60%;
  padding: 0.5em 0.5em 0.5em 0;
}

.menu:hover {
  cursor: pointer;
}

.open-nav {
  position: absolute;
  z-index: 1003;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--mobile-menu-color);
}

.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav li {
  padding: 1em;
}

.toggle {
  display: none;
}

/*-------------------cart styles------------------*/

.cart-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 100%;
}

.cart-button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  margin: 0 0.5em 0 0;
  padding: 0.5em;
  color: var(--main-text-color);
} 

.cart-button a:first-of-type {
  margin-right: 0.4em;
}

.cart {
  position: absolute;
  top: 3em;
  right: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10em;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.show-cart {
  width: 18em;
  transform: rotateY(-360deg);
}

/*-------------------------------------------
            end nav styles
-------------------------------------------*/

/*-------------------------------------------
                banner styles
-------------------------------------------*/

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding: 2em;
  background: url(/images/Red_Evening.jpg) center /
  cover no-repeat;
}

.banner span {
  color: white;
}

/*-------------------------------------------
               end banner styles
-------------------------------------------*/
/*-------------------------------------------
            gallery section styles
-------------------------------------------*/

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-bg-color);
}

.gallery h3 {
  width: 80%;
  margin: 2em 0 0 0;
}

.gallery-item {
  position: relative;
  width: 80%;
  margin: 1em 0 0 0;
  overflow: hidden;
}

.gallery-item:last-of-type {
  margin: 1em 0 1em 0;
}

.gallery-item img {
  width: 100%;
  transition: all 1.7s ease;
}

.gallery-item img:hover {
  cursor: pointer;
  transform: scale(1.2);
}


/*-------------------------------------------
            end gallery section styles
-------------------------------------------*/

/*-------------------------------------------
        register and signin styles
-------------------------------------------*/

.register, 
.signin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}

.register h3, 
.signin h3 {
  margin: 2em 0 0 0;
}

/*-------------------------------------------
      end of register and signin styles
-------------------------------------------*/

/*-------------------------------------------
               product styles
-------------------------------------------*/

.product-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}

.product-description h3 {
  margin: 2em 0 0 0;
}

.product-container {
  padding: 0.5em;
  border: 1px solid var(--main-border-color);
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  border: 1px solid var(--main-border-color);
}

.product-details li {
  font-size: var(--prdct-details-sm);
}

.product-container img {
  width: 100%;
}

.price-button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.price-button p {
  font-size: 1.1em;
  font-weight: bold;
}

/*-------------------------------------------
               end product styles
-------------------------------------------*/

/*-------------------------------------------
               footer styles
-------------------------------------------*/

footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: var(--sec-bg-color);
}

footer p {
  margin: 1em 0 1em 0;
}

footer span {
  font-size: var(--h3-font-size);
}

footer ul {
  margin: 1em 0 1em 0;
}

footer ul a {
  margin: 0 0.5em 0 0;
  padding: 0.5em;
}

footer ul a:last-of-type {
  margin: 0;
}


/*-------------------------------------------
               end footer styles
-------------------------------------------*/
/*-------------------------------------------
                media queries
-------------------------------------------*/

@media only screen and (min-width: 768px) {
  :root {
    --root-font-size: 16px;
  }
  
  .menu-open {
    display: none;
  }

  .nav-items ul {
    display: flex;
    width: 60%;
  } 

  .nav-items li {
    display: inline;
    margin: 0 1em 0 0;
  }

  .nav-items li a {
    padding: 0.5em;
  }

  .cart-button {
    width: 50%;
  }

  .nav-shopping-cart {
    width: 40%;
  }

  .gallery-wrapper {
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-item {
    width: 45%;
    margin: 1em 1em 0 0;
  }

  .gallery-item:nth-child(even) {
    margin-right: 0;
  }

  .product-details li {
    font-size: var(--prdct-details-lg);
  }

  .form-wrapper form {
    width: 60%;
  }

  footer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1224px) {

  * {
    font-size: 16px;
  }

  section,
  footer {
    padding: 1.5em 0 2.5em 0;
  }

  nav {
    height: 4em;
  }

  .nav-items {
    width: 60%;
  }

  .banner {
    height: 50vh;
  }

  .gallery h3 {
    width: 60%;
  }

  .gallery-wrapper,
  .product-description {
    width: 60%;
  }

  .gallery-item {
    width: 30%;
    margin: 1em 1em 0 0;
  }

  .gallery-item:nth-child(odd) {
    margin-right: 0em;
  }

  .about h3,
  .form-wrapper h3,
  .about p {
    width: 50%;
  }

  .form-wrapper form {
    width: 30%;
  }

  form input,
  form textarea {
    margin: 0.5em 0 0 0;
  }
}

